In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import pandas as pd

In [9]:
path = 'Data/data1.csv'
df_base = pd.read_csv(path)

In [10]:
df_base.head()

,Unnamed: 0,age,educational-num,capital-gain,capital-loss,hours-per-week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,gender_Female
0,0,-1.024983,-1.221559,-0.146733,-0.21878,-0.078120,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1,-0.041455,-0.438122,-0.146733,-0.21878,0.754701,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2,-0.798015,0.737034,-0.146733,-0.21878,-0.078120,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,3,0.412481,-0.046403,0.877467,-0.21878,-0.078120,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,4,-0.344079,-1.613277,-0.146733,-0.21878,-0.910942,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [11]:
df_base.drop(['Unnamed: 0'], axis=1, inplace=True)
data_train, data_test = train_test_split(df_base, test_size=0.3, random_state=0)

In [12]:
data_train.head()

,age,educational-num,capital-gain,capital-loss,hours-per-week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,...,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,gender_Female
10300,0.639449,0.737034,-0.146733,-0.21878,-0.078120,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
39302,-1.100639,-0.046403,-0.146733,-0.21878,-2.576584,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2666,-1.478919,-0.438122,-0.146733,-0.21878,-0.078120,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
17989,0.336825,-0.046403,-0.146733,-0.21878,0.754701,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
11495,0.639449,-0.046403,-0.146733,-0.21878,-0.910942,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [13]:
Y_train, Y_test = data_train['income'], data_test['income']
data_train.drop(['income'], axis=1, inplace=True), data_test.drop(['income'], axis=1, inplace=True)

(None, None)

In [14]:
data_train.head()

,age,educational-num,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,...,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,gender_Female
10300,0.639449,0.737034,-0.146733,-0.21878,-0.078120,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
39302,-1.100639,-0.046403,-0.146733,-0.21878,-2.576584,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2666,-1.478919,-0.438122,-0.146733,-0.21878,-0.078120,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
17989,0.336825,-0.046403,-0.146733,-0.21878,0.754701,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
11495,0.639449,-0.046403,-0.146733,-0.21878,-0.910942,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [15]:
clf = LogisticRegression(random_state=0).fit(data_train, Y_train)
clf.score(data_test, Y_test)

/home/aniket/.local/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8408638608388

In [16]:
import joblib

In [17]:
joblib.dump(clf, 'logistic_regression.bin')

['logistic_regression.bin']